<% if logged_in? %>

  <div class="row">
    <aside class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
      
      <%= link_to 'Your Favorite posts is HERE !!!', favorites_user_path(current_user) %>

      
      <%= form_for(@micropost) do |f| %>

      <%= render 'layouts/error_messages', model: f.object %>

        <div class="form-group">
          
<%= f.text_area :content, class: 'form-control', rows: 5 %>

        </div>
        
<%= f.submit 'Post', class: 'btn btn-primary btn-block' %>

      
<% end %>

    <br>
    </aside>
    <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
      
<%= render 'microposts/microposts', microposts: @microposts, user: @user %>

    </div>
  </div>
<% else %>

  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the Microposts</h1>
      
<%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>

    </div>
  </div>
<% end %>